body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    width: 100vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-image: linear-gradient(white, #3a3a3a);
}

#title {
    font-family: 'Bowlby One SC', cursive;
    color: black;
    font-size: 4rem;
}

.commentAuthor {
    font-family: 'Kalam', cursive;
    font-weight: bold;
}