@page
@using CodeFellowGram.Models.Interfaces
@inject IPost PostManager

@{
    ViewData["Title"] = "CodeFellowGram";

    Layout = "_Layout";
}

@{
    var posts = await PostManager.GetPosts();
}


<h3><a class="newPostLink" asp-page="/PostDetails/Manage">NEW POST</a></h3>
@foreach (var post in posts)
{
    <div class="post">
        <h2>@post.Author</h2>
        <a asp-page="/PostDetails/Index" asp-route-id="@post.ID">
            <img class="postImg" src="@post.ImageURL" alt="post image" />
        </a>
    </div>
}
<h3><a class="newPostLink" asp-page="/PostDetails/Manage">NEW POST</a></h3>