@page
@using CodeFellowGram.Models.Interfaces
@inject IPost PostManager

@{ 
    var posts = await PostManager.GetPosts();
}

<h3><a asp-page="/PostDetails/Manage">NEW POST</a></h3>
@foreach (var post in posts)
{
    <h2>@post.Author</h2>
    <a asp-page="/PostDetails/Index" asp-route-id="@post.ID">
        <img src="@post.ImageURL" alt="post image" />
    </a>
}
<h3><a asp-page="/PostDetails/Manage">NEW POST</a></h3>