@page "{id}"
@model CodeFellowGram.Pages.PostDetails.AddCommentModel
@{
    ViewData["Title"] = "Add Comment";

    Layout = "_Layout";
}
<div id="comment-box">
    <form method="post">
        <label asp-for="Comment.User"></label>
        <input asp-for="Comment.User" />

        <label asp-for="Comment.UserComment">Comment</label>
        <textarea rows="5" asp-for="Comment.UserComment"></textarea>
        <button type="submit">POST COMMENT</button>
    </form>
</div>